@charset "utf-8";
*{box-sizing: border-box;}
html,body{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6,p{margin: 0;}
header,section,main,nav,article,aside,footer{display: block;}
header:after,section:after,main:after,nav:after,article:after,aside:after,footer:after{content:"";display: block;clear: both;}
ul,ol{margin: 0;padding: 0;list-style: none;}
a{text-decoration: none;color: inherit;}
.clear{clear: both;}


#products{}
#products .total_pd{width: 1200px; height: auto; margin: 0 auto; padding: 20px 0;}
/* 버튼 */
#products .total_pd .sort_button{padding-bottom: 20px;}
#products .total_pd .sort_button button{padding: 10px 20px; background: #ffff;border: 1px solid #000;border-radius: 4px;cursor: pointer;}
#products .total_pd .sort_button button:hover, #products .total_pd .sort_button button.active{background: #aaa;}
/* 셀렉트 박스 */
#products .total_pd .sort_button .sort_sel{padding: 10px 20px; background: #ffff; border: 1px solid #000;border-radius: 4px;cursor: pointer;background-image: url(../img/arrow-down.png);background-repeat: no-repeat;background-position: 96% 50%; background-size: auto 14px; -webkit-appearance: none;appearance: none;}


#products .total_pd .pd_frame{width: 100%;height: auto;padding: 20px 20px 0; border: 1px solid #bbb; border-radius: 4px; display: flex; justify-content: flex-start; flex-direction: row; align-items: flex-start; flex-wrap: wrap;}
#products .total_pd .pd_frame .pd_box{width:calc(25% - 20px);height: auto;margin:0 10px 20px;border: 1px solid #bbb;box-shadow:0 0 8px #aaaa;padding: 10px; background: #fff;}
#products .total_pd .pd_frame .pd_box .pd_photo{width: 100%; height: 200px; position: relative; overflow: hidden;}
#products .total_pd .pd_frame .pd_box .pd_photo img{height: 100%;position: absolute; top:50%; left: 50%; transform:translate(-50%,-50%)}
#products .total_pd .pd_frame .pd_box .pd_info{width: 100%; height: auto;}
#products .total_pd .pd_frame .pd_box .pd_info .pd_title{grid-template: 20px;color:#555; padding-top:10px;}
#products .total_pd .pd_frame .pd_box .pd_info .pd_text{font-size: 16px;color: #888888; padding:10px 0;}
#products .total_pd .pd_frame .pd_box .pd_info .pd_etc{width: 100%; height: auto; border-top: 1px solid #bbb; display: flex;justify-content: space-between; padding: 10px 0;}
#products .total_pd .pd_frame .pd_box .pd_info .pd_etc .pd_price{font-size: 16px; font-weight: bold;}
#products .total_pd .pd_frame .pd_box .pd_info .pd_etc .pd_date{font-size: 14px;}
#products .total_pd .pd_frame .pd_box .pd_info .fav{text-align: right;padding: 0 0 10px;font-size: 14px;}
#products .total_pd .pd_frame .pd_box .pd_info .fav span{color: red;}

.pager{padding: 20px 0; text-align: center;font-size: 0;}
.pager li{width: 36px; font-size: 17px; line-height: 1; border-right: 1px solid #ccc; padding: 0 5px; display: inline-block;}
.pager li:last-child{border: none;}
.pager li.active{color: red;}















